{
  "check-coverage": true,
  "lines": 90,
  "statements": 90,
  "include": [
    "src/*.js",
    "src/**/*.js"
  ],
  "exclude": [
    "src/config/*.js",
    "src/*.spec.js",
    "src/**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text-summary",
    "html"
  ],
  "all": true
}